:root {
  --main-dark: #181829;
  --main-gray: #5a5c69;
}

body {
  background-color: var(--main-dark);
}

.container-top {
  min-height: 80px;
  height: 100px;
  display: flex;
  background-color: var(--main-dark);
  margin-top: 30px;
  padding: 10px;
}

.container-buttons {
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 10px;
}

.container-teams {
  width: 80%;
  padding: 5px;
  padding-right: 25px;
  padding-left: 60px;
  margin-top: 10px;
  background-color: var(--main-gray);
}

.col-buttons {
  max-width: 150px;
  float: left;
}

.col-double {
  height: max-content;
}

.row-double {
  color: white;
  margin-left: 10px;
}

.holder-long {
  width: 80%;
  margin: auto;
  padding: auto;
  text-align: left;
  font-size: 24px;
  font-family: Arial;
}

.holder-short {
  width: auto;
  margin: auto;
  padding: auto;
}

.a-top {
  color: white;
  font-weight: bold;
}

.buttons-4 {
  width: 110px;
}

.text-small {
  font-size: 20px;
  color: white;
}
