.bg-black-1
{
    background-color: #222232 !important;
}

.bg-black-2
{
    background-color: #181829 !important;
}

.bg-primary
{
    background-color: #246BFD;
}

.bg-white
{
    background-color: rgb(225, 225, 225);
}
