.main-dark {
  color: #181829 !important;
  background-color: #181829 !important;
}

.card {
  background-color: #343a40 !important;
  font-weight: bold;
}
.form-control {
  border-radius: 0.5rem;
}

.small {
  color: #fff;
}
.h4.text-gray-900 {
  color: #fff;
}

a#color {
  color: #fff;
}

/* input#email {
    background-image: url(fa-eye-slash); 
    background-repeat: no-repeat; 
    background-position: 0px 0px; 
    padding-left: 16px; 
} */

#batas {
  height: 4.2rem;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: #dbdbdb;
}
